#results {
         display: none;
}

body {
         background-image: url("tips.jpg");
}

.card {
         background-color: #00e6e6;
         border-radius: 80px; 
         align-items: center; 
}

h1 {
         font-family: Brush Script MT;
         color: white;
}


