@charset "UTF-8";

body {
    background-image: url(tips.jpg);
}

.card {
    background-color: #6699ff;
    border-radius: 80px;
    align-items: center;
    
}

h5 {
    margin: auto;
    color: #ffffff;
    align-items: center;
}


